{
  type: 'object'
  title: 'Get User Playlist'
  'x-group-name': 'Playlists'
  required: ['data']
  properties:
    data:
      type: 'object'
      properties:
        user_id:
          type: 'string'
          title: 'User ID'
        limit:
          type: 'integer'
          default: 20
        offset:
          type: 'integer'
          description: 'Optional'
}
